
/*Tentativa de deixar sem borda branca no navegador*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

nav {
    background-color: #3A2CBD;
    height: 40px;
}

.banner {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 248px;
    text-align: left;
}

#cards {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;
    height: 100px;
}

.jogadores {
    width: 95%;
    height: 95%;
    object-fit: cover;
    display: block;
}


img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}
