<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
</head>
<body>
    <nav>
        hi
    </nav>
    <section id="time">
        <div class="banner">
            <img src="/images/Banner-Cosmos-ultrawide.png" alt="Banner Cosmos" id="banner">
        </div>

        <div id="cards">
            <div class="jogadores"><img src="/images/jogador1.png" alt=""></div>
            <div class="jogadores"><img src="/images/jogador2.png" alt=""></div>
            <div class="jogadores"><img src="/images/jogador3.png" alt=""></div>
        </div>
    </section>
    <section id="sobre">

    </section>
</body>
</html>